body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.icon {
  font-size: 2.4rem;
  cursor: pointer;
}


.modal {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  background: white;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 250px;
  z-index: 1000;
}

.modal h3 {
  margin-top: 0;
}

.modal input,
.modal select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #93ec86;
  border-radius: 5px;
}

.modal label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.modal button {
  width: 100%;
  padding: 8px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}